<h2><%= t('.edit_user') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                       html: { method: :put }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class='form-group'>
    <%= f.label :email, t('.email') %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :user_name, t('.user_name') %>
    <%= f.text_field :user_name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :full_name, t('.full_name') %>
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :age, t('.age') %>
    <%= f.number_field :age, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :sex, t('.gender') %>
    <%= f.collection_radio_buttons(:sex, sex_attributes_for_select, :last, :first) do |b| %>
      <div class='display-answer'>
        <%= b.radio_button %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div class='form-group'>
    <%= f.label :password, t('.password') %><br />
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :password_confirmation, t('.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :current_password, t('.current_password') %><br />
    <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class='actions'>
    <%= f.submit t('.update'), class: 'btn btn-primary' %>
  </div>
<% end %>
