<%= form_with(model: [course, word_list], local: true) do |form| %>
  <% if word_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word_list.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
        <% word_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="field">
        <%= form.label :word, t(".word") %>
        <%= form.text_area :word, class: "form-control text-center" %>
      </div>

      <br>

      <div class="actions">
        <%= form.submit t(".submit"), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
