<%= form_for [@course, @word_list] do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 text-center'>
      <div class='field'>
        <%= form.label :word, t('.word') %>
        <%= form.text_area :word, class: 'form-control text-center' %>
      </div>

      <div class='actions', id='word-submit'>
        <%= form.submit t('.submit'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
