<section>
  <h1><%= user.full_name %></h1>
</section>
<div class='container'>
  <table>
    <tr>
      <th><%= t('.email') %></th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th><%= t('.age') %></th>
      <th><%= user.age %></th>
    </tr>
      <th><%= t('.gender') %></th>
      <td><%= user_gender(user.sex) %></td>
    </tr>
  </table>
</div>

<div class='result-button'>
  <%= link_to t('.user_result'), user_user_results_path(user), class: 'btn btn-primary' %>
</div>
