<div class='row'>
  <aside class='span4'>
    <section>
      <h1><%= t('.user_list') %></h1>
    </section>
  </aside>
  <table>
    <tr>
      <th><%= t('.num') %></th>
      <th><%= t('.user_full_name') %></th>
      <th></th>
    </tr>
    <% @users.each_with_index do |user, index| %>
      <%= render user, index: index %>
    <% end %>
  </table>
  <%= will_paginate %>
  <%= render 'exports/index', model: @users.klass, owner: nil %>
</div>
