<p id='notice'><%= notice %></p>

<h1><%= @category.name %></h1>
<p id='category_description'><%= @category.description %></p>

<%= render @courses %>

<% unless @courses.blank? %>
  <%= render 'exports/index', model: @courses.klass, owner: @category %>
<% end %>

<%= will_paginate %>

<div class='action-button'>
  <%= link_to t('.back'), categories_path, class: 'btn btn-default' %>
  <% if can? :update, Category %>
    <%= link_to t('.edit_category'), edit_category_path(@category), class: 'btn btn-primary' %>
  <% end %>
  <% if can? :create, Course %>
    <%= link_to t('.new_course'), new_category_course_path(@category),
      class: 'btn btn-success btn-primary' %>
  <% end %>
</div>
