<p id="notice"><%= notice %></p>

<h1><%= @category.name %></h1>
<h2><%= "Courses" %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, category_course_path(@category, course) %></td>
        <td><%= course.description %></td>
        <td><%= link_to "Delete", category_course_path(@category, course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", categories_path %> |
<%= link_to "Edit Category", edit_category_path(@category) %> |
<%= link_to "New Course", new_category_course_path(@category) %>
