<h1><%= t('.categories') %></h1>

<div class='category-container'>
  <div class='category-new-button'>
    <% if can? :create, Category %>
      <%= link_to t('.new_category'), new_category_path, class: 'btn btn-success btn-primary' %>
    <% end %>
  </div>
</div>

<%= render @categories %>

<% unless @categories.blank? %>
  <%= render 'exports/index', model: @categories.klass, owner: nil %>
<% end %>

<%= will_paginate %>
