<p id="notice"><%= notice %></p>

<h1><%= t(".categories") %></h1>

<% @categories.each do |category| %>
  <div class="categories-index">
  	<div class="categories">
      <h3><%= link_to category.name, category_courses_path(category) %></h3>
      <p><%= category.description %></p>
      <%= link_to t(".delete"), category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-primary btn-sm" %>
    </div>
  </div>
<% end %>

<br>

<div class="category-container">
  <div class="category-new-button">
    <%= link_to t(".new_category"), new_category_path, class: "btn btn-success btn-primary" %>
  </div>
</div>
