<p id="notice"><%= notice %></p>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @category.name %>
			</h1>
			<h2>
				<%= @category.description %>
			</h2>
		</section>
	</aside>
	<div class="span8">
		<% if @category.courses.any? %>
			<h3> <%= @category.courses.count %> Courses </h3>
			<ol class="courses">
				<%= render @category.courses %>
			</ol>
		<% end %>
	</div>
</div>

<%= link_to "Edit", edit_category_path(@category) %> |
<%= link_to "Back", categories_path %> |
<%= link_to "Create new course", new_category_course_path(@category) %>
