<p id='notice'><%= notice %></p>

<div class='row'>
  <aside class='span4'>
    <section>
      <h1><%= @user.full_name %></h1>
    </section>
  </aside>
  <table>
    <tr>
      <th><%= t('.test_name') %></th>
      <th><%= t('.test_day') %></th>
      <th><%= t('.result') %></th>
      <th><%= t('.grade') %></th>
    </tr>
    <%= render @user_results.includes(:user_answers) %>
  </table>
  <% unless @user_results.blank? %>
    <%= render 'exports/index', model: @user_results.klass, owner: @user %>
  <% end %>
  <%= will_paginate %>
</div>
