<div class="span8">
  <%= form_for(@user_result) do |f| %>
    <%= f.hidden_field :test_id, :value => @test.id %>
	<%= f.hidden_field :user_id, :value => current_user.id %>

	<% @test.questions.each do |question| %>
	  <h3>
	    <li><%= question.content %></li>
	  </h3>

	  <%= f.fields_for :user_answers do |u| %>
	    <%= u.collection_radio_buttons(:user_answer, question.answers.all, :id, :content) do |b|%>
		  <div>
		    <%= b.radio_button %>
			<%= b.label %>
		  </div>
		<% end %>
	  <% end %>
    <% end %>

	<div class="actions">
      <%= f.submit "Submit the answer", class: "btn btn-primary" %>
  	</div>
  <% end %>
</div>
