<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <section>
	  <h1><%= @user_result.test_name %></h1>
	  <p class="test-day">
	    <%= t(".date_test") %>
	    <%= @user_result.decorate.created_at_format %>
	  </p>
	</section>
  </aside>
  <table>
    <tr>
  	  <th><%= "No" %></th>
	  <th><%= t(".question") %></th>
	  <th><%= t(".your_answer") %></th>
	  <th><%= t(".correct_answer") %></th>
	  <th><%= t(".result") %></th>
	</tr>
	<%= render @user_result.user_answers.includes(:answer) %>
  </table>
</div>

<%= link_to t(".another_test"), tests_path %>
