<p id='notice'><%= notice %></p>

<div class='row'>
  <aside class='span4'>
    <section>
      <h1><%= @user_result.test_name %></h1>
      <h2>
        <%= t('.date_test') %>
        <%= format_date_slash(@user_result.created_at) %>
      </h2>
      <h3 class='user-result-grade'>
        <%= t('.grade') %>
        <%= @user_result.grade %>
      </h3>
      <p class='user-result-status'>
        <%= t('.status_result') %>
        <%= result_announcement(@user_result.status) %>
      </p>
    </section>
  </aside>
  <table>
    <tr>
      <th><%= t('.num') %></th>
      <th><%= t('.question') %></th>
      <th><%= t('.your_answer') %></th>
      <th><%= t('.correct_answer') %></th>
      <th><%= t('.result') %></th>
    </tr>
    <%= render @user_result.user_answers.includes(:answer) %>
  </table>
</div>

<div class='another-button' %>
  <%= link_to t('.user_result'), user_user_results_path(@user), class: 'btn btn-primary' %>
  <%= link_to t('.doing_test_again'), new_test_user_result_path(@user_result.test),
              class: 'btn btn-success btn-primary' %>
</div>
