<p id='notice'><%= notice %></p>

<h1><%= t('.test') %></h1>

<%= render @tests %>
<%= render 'exports/index', model: @tests.klass, id: nil %>

<%= will_paginate %>

<div class='test-container'>
  <div class='test-new-button'>
    <% if can? :create, Test %>
      <%= link_to t('.new_test'), new_test_path, class: 'btn btn-success btn-primary' %>
    <% end %>
  </div>
</div>
