<p id="notice"><%= notice %></p>

<h1><%= t(".test") %></h1>

<%= render @tests %>

<%= will_paginate %>

<div class="test-container">
  <div class="test-new-button">
    <% if can? :create, @test %>
      <%= link_to t(".new_test"), new_test_path, class: "btn btn-success btn-primary" %>
    <% end %>
  </div>
</div>
