<p id='notice'><%= notice %></p>

<h1><%= @test.name %></h1>
<p id='test-description'><%= @test.description %></p>

<div class='test-container'>
  <% if signed_in? %>
    <div class='test-new-button'>
      <%= link_to t('.start'), new_test_user_result_path(@test), class: 'btn btn-success btn-lg' %>
    </div>
  <% else %>
    <div class='signin-to-test'>
      <h3><%= link_to t('.signin_to_test'), sign_in_path, class: 'btn btn-primary' %></h3>
    </div>
  <% end %>
</div>

<% if can? :update, Test %>
  <%= link_to t('.edit_test'), edit_test_path(@test), class: 'btn btn-primary' %>
<% end %>
