<header class="navbar navbar-fixed-top">
  <div class="navbar-expand-lg scrolling-navbar">
    <div class="container">
	  <nav>
	    <ul class="navbar-brand pull-left">
		  <li><%= link_to t(".home"), root_path %></li>
		  <li><%= link_to t(".categories"), categories_path %></li>
		  <li><%= link_to t(".tests"), tests_path %></li>
		  <% if signed_in? %>
		    <li><%= link_to t(".user_info"), user_path(current_user)  %></li>
		    <li><%= link_to t(".setting"), edit_user_registration_path  %></li>
		    <li><%= link_to t(".signout"), sign_out_path, method: "delete" %></li>
		  <% else %>
		    <li><%= link_to t(".signin"), sign_in_path %></li>
		  <% end %>
		</ul>
	  </nav>
    </div>
  </div>
</header>
